In [1]:
import mysql.connector
import dotenv
import os
import pandas as pd

In [2]:
dotenv.load_dotenv(dotenv_path="../.env", override=True)

True

In [3]:
try:
    conn = mysql.connector.connect(
        host=os.getenv("MYSQL_HOST"),
        user=os.getenv("MYSQL_USER"),
        password=os.getenv("MYSQL_PASSWORD"),
        port=os.getenv("MYSQL_PORT"),
        database=os.getenv("MYSQL_DATABASE")
    )
    print("Database connection successful!")
except mysql.connector.Error as e:
    print(e)

Database connection successful!

In [4]:
sql = """
SELECT listings.name, listings.price, categories.id AS category_id, categories.name AS category_name
FROM category_training_data
JOIN listings ON category_training_data.listing_id = listings.id
JOIN categories ON category_training_data.category_id = categories.id
"""

data = pd.read_sql(sql, conn)

/var/folders/dm/0bzvhx614119pjld6qkrbr6r0000gn/T/ipykernel_3784/1540559974.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(sql, conn)

In [5]:
data_folder = "../data"
if not os.path.exists(data_folder):
    os.makedirs(data_folder)

path = os.path.join(data_folder, "all_data.parquet")

In [6]:
data.to_parquet(path, index=False)